{% extends "layout.html" %}

{% block content %}

<h3>Reports</h3>


<div class="em-c-table-object ">
    <div class="em-c-table-object__header">
    </div>
    <!--end em-c-table-object__header-->
    <div class="em-c-table-object__body">
      <div class="em-c-table-object__body-inner">
        <table class="em-c-table ">
          <thead class="em-c-table__header">
            <tr class="em-c-table__header-row">
              <th scope="col" class="em-c-table__header-cell ">Table Heading 1</th>
              <th scope="col" class="em-c-table__header-cell ">Table Heading 2</th>
            </tr>
            <!-- em-c-table__header-row -->
          </thead>
          <!-- end em-c-table__header -->
          <tbody class="em-c-table__body ">
            <tr class="em-c-table__row ">
              <td class="em-c-table__cell em-js-cell em-js-cell-editable" colspan="">
                Value 1
              </td>
              <td class="em-c-table__cell em-js-cell em-js-cell-editable" colspan="">
                Value 2
              </td>
            </tr>
            <!-- end em-c-table__row -->
            <tr class="em-c-table__row ">
              <td class="em-c-table__cell em-js-cell em-js-cell-editable" colspan="">
                Value 3
              </td>
              <td class="em-c-table__cell em-js-cell em-js-cell-editable" colspan="">
                Value 4
              </td>
            </tr>
            <!-- end em-c-table__row -->
            <tr class="em-c-table__row ">
              <td class="em-c-table__cell em-js-cell em-js-cell-editable" colspan="">
                Value 5
              </td>
              <td class="em-c-table__cell em-js-cell em-js-cell-editable" colspan="">
                Value 6
              </td>
            </tr>
            <!-- end em-c-table__row -->
          </tbody>
          <!-- end em-c-table__body -->
          <tfoot class="em-c-table__footer">
            <tr class="em-c-table__footer-row">
            </tr>
          </tfoot>
          <!-- end em-c-table__footer -->
        </table>
        <!--end em-c-table-->
      </div>
      <!--end em-c-table-object__body-inner-->
    </div>
    <!--end em-c-table-object__body-->
  </div>
  <!--end em-c-table-object-->


{% endblock %}